@config "../tailwind.config.js";
@import "tailwindcss";


@theme {
  --color-ExtraDark: #181818; 
  --color-LightDark: #212121;
  --color-Dark:#454545;
  --color-LightWhite:#B3B3B3;
}

@layer base {
  * {
    @apply transition-colors duration-300 ease-in-out;
  }
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.17em;
  font-weight: 700;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h4 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 1.12em;
  margin-bottom: 1.12em;
}

h5 {
  font-size: 0.83em;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 0.67em;
  font-weight: 700;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full; 
}